.our_steps_sec {
    background-image: url('/images/steps-bg.webp');
    background-size: cover;
    background-position: center;
}

.steps_row {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    grid-column-gap: 30px;
    justify-content: space-between;
}

.steps_row.steps_row_bottom {
    margin-top: 100px;
}

.step_box {
    width: calc(33.33% - 20px);
}

.step_box h2 {
    color: #2D3748;
    font-weight: 400;
    font-size: 35px;
    line-height: 1.5;
    margin-bottom: 50px;
}

.step_box .step_icon {
    background-color: #30A9E0;
    width: 94px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    border-radius: 50%;
    z-index: 2;
    position: relative;
}

.step_box .step_title {
    color: #2D3748;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 500;
    margin: 20px 0 15px;
}

.step_box p {
    color: #2D3748;
    line-height: 1.8;
}

.step_box:not(.step_box_header) {
    text-align: center;
}

.step_box_content {
    max-width: 280px;
    margin-inline: auto;
}

@media (max-width:1280px) {
    .step_box .step_box_content .step_icon {
        width: 80px;
    }

    .step_box .step_box_content .step_icon svg {
        max-width: 40px;
    }
}

@media (min-width:992px) and (max-width:1280px) {
    .steps_row .step_box h2 {
        margin-bottom: 35px;
    }

    body .steps_row.steps_row_bottom {
        margin-top: 75px;
    }
}

@media (min-width:992px) {
    .steps_row_bottom .step_box:first-child .step_box_content {
        margin-left: 0;
    }

    .steps_top_row .step_box:last-child .step_box_content,
    .steps_row_bottom .step_box:last-child .step_box_content {
        margin-right: 0;
    }
}

@media (max-width:991px) {
    .steps_row .step_box h2 {
        margin-bottom: 25px;
    }

    .step_box.step_box_header {
        width: 100%;
        text-align: center;
    }

    .steps_row .step_box:not(.step_box_header) {
        width: calc(50% - 15px);
    }

    .steps_row.steps_row_bottom .step_box:last-child {
        width: 100%;
    }

    .steps_row .step_box:not(.step_box_header) {
        margin-top: 50px;
    }

    body .steps_row.steps_row_bottom {
        margin-top: 0;
    }
}

@media (max-width:480px) {
    .steps_row .step_box:not(.step_box_header) {
        width: 100%;
    }
}