.image_text_sec {
    position: relative;
}

.image_text_content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.image_text_left_col {
    width: 50%;
    padding-right: 30px;
}

.image_text_right_col {
    width: 50%;
    padding-left: 30px;
}

.image_text_sec .sec_title {
    text-align: left;
    margin-bottom: 20px;
}

.image_text_content .buttons {
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 13px;
}

.image_area {
    text-align: right;
}

.above_content {
    margin-top: 30px;
}

.bottom_content {
    margin-top: 70px;
}

.image_text_content.image_left {
    flex-direction: row-reverse;
}

.image_left .image_area {
    text-align: left;
}

.image_text_content.image_left .image_text_left_col {
    padding-right: 0;
    padding-left: 30px;
}

.image_text_content.image_left .image_text_right_col {
    padding-left: 0;
    padding-right: 30px;
}

.above_content strong {
    font-weight: 600;
}


@media (max-width:1280px) {
    .image_text_left_col .bottom_content {
        margin-top: 50px;
    }
}

@media (min-width:768px) and (max-width:1024px) {
    .image_text_sec .sec_title {
        font-size: 30px;
    }
}

@media (max-width:1024px) {
    .image_text_content .above_content {
        text-align: center;
    }
}

@media (max-width:767px) {
    .image_text_content {
        flex-direction: column-reverse;
        gap: 30px;
    }

    .image_text_content>* {
        width: 100%;
        padding: 0;
    }

    .image_text_sec .image_text_left_col .sec_title {
        text-align: center;
        margin-bottom: 10px;
        font-size: 26px;
    }

    .image_text_sec .description {
        text-align: center;
    }

    .image_text_sec .image_text_content .buttons {
        margin-top: 30px;
        justify-content: center;
    }

    .image_text_sec .image_area {
        text-align: center;
    }
}

@media (max-width:480px) {
    .image_text_sec .image_text_content .buttons {
        flex-direction: column;
    }

    .image_text_content .buttons .global_btn a {
        min-width: 200px;
    }
}