#header {
    padding: 22px 40px;
    transition: all 0.2s linear;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9;
}

#header .container {
    max-width: 1440px !important;
}

#header.sticky_header {
    padding-block: 12px;
    box-shadow: 0 0 2px 0 var(--light-blue);
}

.header_content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
}

.header_left_col {
    width: 20%;
}

.header_logo img {
    transition: all 0.2s linear;
    max-width: 230px;
}

.sticky_header .header_logo img {
    width: 180px;
}

.header_right_col {
    width: calc(80% - 40px);
    text-align: right;
}

.header_right_col_content {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: flex-end;
}

.header_menu ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.header_menu ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5;
}

.header_menu ul li a svg {
    font-size: 12px;
}

.header_menu ul li a:hover,
.header_menu ul li a.active {
    color: var(--light-blue);
}

.header_menu ul li.has_sub_menu {
    position: relative;
}

.header_menu li.has_sub_menu a {
    display: flex;
    align-items: center;
    gap: 5px;
}

.header_menu ul.sub_menu {
    display: none;
    gap: 0;
}

.header_menu ul.sub_menu li {
    width: 100%;
}

.header_menu li.active_sub_menu .sub_menu {
    display: block;
}

/** Mega Menu Css Start***/
.header_menu .sub_menu.mega_menu {
    position: fixed;
    left: 0;
    width: 100%;
    top: 100px;
    padding: 25px 40px 30px;
    background-color: #fff;
    border-top: 1px solid var(--light-blue);
    transition: all 0.2s linear;
    display: block;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.header_menu li.active_sub_menu .mega_menu {
    opacity: 1;
    visibility: visible;
}

.sticky_header .header_menu .sub_menu.mega_menu {
    top: 80px;
}

.header_menu .sub_menu ul {
    gap: 15px;
}

.header_menu .sub_menu.mega_menu>li {
    max-width: 1440px;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;
    align-items: start;
}

.header_menu ul.sub_menu.mega_menu li a {
    color: var(--light-blue);
    text-align: left;
    width: fit-content;
    position: relative;
}

.header_menu ul.sub_menu li svg {
    font-size: 20px;
}

.header_menu ul.sub_menu li a.active path:not(:first-child),
.header_menu ul.sub_menu li a:hover path:not(:first-child) {
    fill: #072e75;
}

.header_menu ul.sub_menu.mega_menu li a:hover,
.header_menu ul.sub_menu.mega_menu li a.active {
    color: #072e75;
}

/** Mega Menu Css End **/


.header_menu ul li a path {
    transition: all 0.2s linear;
}

.header_menu ul.sub_menu:not(.mega_menu) li a {
    display: block;
    padding: 10px 15px;
    background-color: var(--light-blue);
    color: #fff;
    font-size: 15px;
    border-bottom: 1px solid #fff;
    text-align: left;
}

.header_content .menu_toggle {
    font-size: 30px;
    color: var(--light-blue);
    display: inline-flex;
}


@media (max-width:1500px) {
    .header_content .header_menu ul li a {
        font-size: 15px;
    }

    .header_content .header_menu ul {
        gap: 20px;
    }

    .header_content .header_right_col_content {
        gap: 20px;
    }

    .header_content .header_logo img {
        max-width: 200px;
    }
}

@media (min-width:1025px) and (max-width:1280px) {
    .header_sec .header_content .header_menu ul {
        gap: 15px;
    }

    .header_sec .header_content .header_menu ul li a {
        font-size: 14px;
    }

    .header_sec .header_content .header_right_col {
        width: calc(85% - 40px);
    }

    .header_sec .header_content .header_right_col_content {
        gap: 15px;
    }

    .header_sec .header_left_col {
        width: 15%;
    }

    .header_content .global_btn a {
        padding-inline: 12px;
        font-size: 14px;
    }

    body #header {
        padding-inline: 20px;
    }

    .sticky_header .header_menu .sub_menu.mega_menu {
        top: 76px;
    }
}

@media (min-width:1025px) {
    .header_content .menu_toggle {
        display: none;
    }
}

@media (max-width:1024px) {

    .header_menu li.has_sub_menu .sub_menu:hover {
        display: block;
        position: absolute;
        top: 100%;
        width: 100%;
        min-width: 200px;
        padding-top: 10px;
    }

    .header_content .header_right_col_content {
        position: fixed;
        top: 0;
        left: 0;
        width: 400px;
        max-width: 70%;
        background-color: var(--dark-blue);
        padding: 20px 0 30px;
        flex-direction: column;
        align-items: flex-start;
        height: 100vh;
        justify-content: flex-start;
        transform: translateX(-101%);
        transition: all 0.2s linear;
        overflow-y: auto;
    }

    .header_content .header_right_col_content.active {
        transform: translateX(0);
    }

    .header_content .header_menu ul {
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
    }

    body .header_content .header_menu ul li a {
        font-size: 16px;
        color: #fff;
        justify-content: space-between;
        display: flex;
        padding: 10px 25px;
    }

    body .header_content .header_menu ul li a.active {
        background-color: var(--light-blue);
    }

    .header_right_col_content .global_btn {
        padding-inline: 25px;
    }

    .header_right_col_content .global_btn a img {
        filter: brightness(0) invert(1);
    }

    .header_content .header_menu ul li a path {
        fill: #fff;
    }

    body .header_menu li.has_sub_menu a+.sub_menu,
    body .header_menu li.has_sub_menu .sub_menu {
        display: block !important;
        position: static !important;
        text-align: left;
        height: 0;
        padding-top: 0 !important;
    }

    body .header_menu li.active_sub_menu a+.sub_menu,
    body .header_menu li.active_sub_menu .sub_menu {
        height: auto;
    }

    .header_menu {
        width: 100%;
    }

    .header_content .header_menu ul li {
        width: 100%;
        text-align: left;
        overflow: hidden;
    }

    .header_content .header_menu ul.sub_menu li a {
        background-color: transparent;
        border: 0;
        padding-left: 40px;
    }

    .header_content .global_btn a {
        color: #fff;
        border-color: #fff;
    }

    .header_content .global_btn a path {
        fill: #fff;
    }

    body #header {
        padding-inline: 30px;
    }

    .header_content .header_left_col {
        width: 60%;
    }

    .header_content .header_right_col {
        width: calc(40% - 40px);
    }
}

@media (max-width:767px) {
    body #header {
        padding-inline: 20px;
    }

    body .header_content .header_logo img {
        width: 180px;
    }

    .header_content .header_right_col_content {
        min-width: 250px;
    }
}