.iconboxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.generating_leads_boxes {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
}
.brand_reach.iconboxes_sec .iconboxes{
    margin-top:40px;
}
section.generating_leads_sec {
    background: #f6fcff;
}
section.generating_leads_sec .generating_leads_boxes .icon_box{
    background-color: #fff;
}

@media (max-width:1280px) {
    body .iconboxes {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:1024px) {
    body .generating_leads_boxes {
        grid-gap: 30px;
    }
}

@media (min-width:768px) and (max-width:1024px) {
    .image_text_sec .image_text_content .above_content {
        text-align: left;
    }
}

@media (max-width:640px) {

    body .generating_leads_boxes,
    body .iconboxes {
        grid-template-columns: 100%;
    }
}