.popup_outer {
    display: none;
    position: fixed;
    inset: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px 30px;
}

.popup_inner {
    width: 100%;
    height: 100%;
    align-content: center;
    text-align: center;
}

.popup_content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.close_popup {
    position: fixed;
    top: 20px;
    right: 15px;
    color: #fff;
    font-size: 26px;
    cursor: pointer;
}