.trusted_customers_sec {
    background-color: var(--dark-blue);
}

.trusted_customers_sec .sec_title {
    color: #fff;
}

.trusted_logos {
    margin-top: 60px;
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-gap: 100px;
    grid-template-columns: repeat(4, 1fr);
}

.trusted_logos .logo {
    background-color: #fff;
    padding: 27px 25px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

/* .trusted_logos .logo img {
    height: 68px;
    width: auto;
} */
.trusted_logos .owl-stage {
    display: flex;
    align-items: stretch;
}



@media (min-width:1025px) and (max-width:1280px) {
    .trusted_customers_sec .trusted_logos {
        grid-gap: 70px;
    }
}

@media (min-width:768px) and (max-width:1024px) {
    .trusted_customers_sec .trusted_logos {
        grid-gap: 40px;
        margin-top: 50px;
    }
}

@media (min-width:576px) and (max-width:767px) {
    .trusted_customers_sec .trusted_logos {
        grid-gap: 30px;
        margin-top: 40px;
    }
}

@media (max-width:575px) {

    /* .trusted_customers_sec .trusted_logos {
        grid-column-gap: 60px;
        grid-row-gap: 30px;
        margin-top: 40px;
        grid-template-columns: repeat(2, 1fr);
    } */
    .trusted_customers_sec .trusted_logos {
        max-width: 300px;
        margin-inline: auto;
    }
}

@media (max-width:400px) {
    .trusted_customers_sec .trusted_logos {
        grid-column-gap: 30px;
        grid-row-gap: 25px;
    }
}