.blogs_sec {
    background-image: url(/images/blogs-bg.webp);
    background-size: cover;
    background-position: center;
}

.blogs_sec .container-fluid {
    max-width: 1590px;
    margin-inline: auto;
}

.blog_sec_header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 40px;
    max-width: 1440px;
    margin-inline: auto;
}

.blogs_carousel_outer {
    padding-inline: 74px;
    position: relative;
}

.blogs_carousel_outer .blogs_carousel {
    position: unset;
    margin-top: 35px;
}

.blogs_carousel .swiper-wrapper .swiper-slide {
    height: auto;
}

.blogs_carousel .swiper-button-prev,
.blogs_carousel .swiper-button-next {
    margin: 0 !important;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: inline-flex !important;
    width: 50px;
    height: 50px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
    border-radius: 50% !important;
    background-color: #fff !important;
    transition: all 0.2s linear;
}

.blogs_carousel .swiper-button-prev:hover,
.blogs_carousel .swiper-button-next:hover {
    background-color: var(--light-blue) !important;
}

.blogs_carousel .swiper-button-prev svg,
.blogs_carousel .swiper-button-next svg {
    width: 13px;
}

.blogs_carousel .swiper-button-prev:hover path,
.blogs_carousel .swiper-button-next:hover path {
    fill: #fff;
}

.blogs_carousel .swiper-button-prev:after,
.blogs_carousel .swiper-button-next:after {
    display: none;
}

.error_message {
    text-align: center;
    color: #f00;
    margin-top: 20px;
}


@media (max-width:1199px) {
    body .blogs_carousel_outer {
        padding-inline: 0;
    }

    body .blogs_carousel .swiper-button-prev,
    body .blogs_carousel .swiper-button-next {
        position: static;
        transform: none;
        margin-top: 45px !important;
    }

    body .blogs_carousel .swiper-button-prev {
        margin-right: 10px !important;
    }

    body .blogs_carousel .swiper-button-next {
        margin-left: 10px !important;
    }

    .blogs_carousel {
        text-align: center;
    }
}

@media (min-width:641px) and (max-width:991px) {

    body .blogs_carousel .owl-nav button {
        width: 44px;
    }
}

@media (max-width:767px) {
    .blogs_sec .blog_sec_header {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 25px;
    }
}

@media (max-width:640px) {
    .blogs_sec .blogs_carousel {
        padding: 0;
    }

    body .blogs_carousel .owl-nav button {
        position: static !important;
        transform: none;
        margin: 0 10px !important;
    }

    .blogs_carousel .owl-nav {
        margin-top: 40px !important;
    }
}